
<!DOCTYPE html>
<html ng-app="myApp">
  <head>
   
   <% include partials/head %>

 

  </head>

  <body>


    <div class="container" id="search">
      <div class="starter-template">
       <div class="form-style-5">
        <form action=/createRide> 
        <fieldset>
        <legend>Welcome to Biker's App!</legend>
        <input type="submit" value="Create a Ride"/>
        </fieldset>
        <fieldset>
        <br>
        <input type="submit" value="Join a Ride" />
        </fieldset>
      
        </form>
       </div>
     </div>
      

    </div><!-- /.container -->


    <div class="container" ng-controller="myCtrl">
      <table class="table"> 
        <thead>
          <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Number</th>
              <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input class="form-control" ng-model="contact.name"></td>
             <td><input class="form-control" ng-model="contact.email"></td>
              <td><input class="form-control" ng-model="contact.number"></td>
              <td><button class="btn-primary" ng-click="addcontact()">Add Contact</td>
              <td><button class="btn btn-info" ng-click="update()">Update</button></td>
              <td><button class="btn btn-info" ng-click="deselect()">Clear</button></td>

          </tr>
          <tr ng-repeat="contact in contactList">
              <td>{{contact.name}}</td>
              <td>{{contact.email}}</td>
              <td>{{contact.number}}</td>  
              <td><button class="btn btn-danger" ng-click="remove(contact._id)">Remove</button></td>
              <td><button class="btn btn-warning" ng-click="edit(contact._id)">Edit</button></td>

          </tr> 
        </tbody>

      </table>

    </div>





     <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>  -->

      <script src="js/angular.min.js"></script>  
      <script src="controllers/controller.js"></script>


  </body>
</html>
