
<!DOCTYPE html>
<html lang="en">
  <head>
   
   <% include partials/head %>

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">

       <% include partials/header %>
     
    </div>



    <div class="container" id="search">
      <div class="starter-template">
       <div class="form-style-5">
        <form action=/createRide> 
        <fieldset>
        <legend>Welcome to Biker's App!</legend>
        <input type="submit" value="Create a Ride"/>
        </fieldset>
        <fieldset>
        <br>
        <input type="submit" value="Join a Ride" />
        </fieldset>
      
        </form>
    </div>
       
       
    </div>

   
      


      
    
      

    </div><!-- /.container -->

   
  </body>
</html>
