
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="datatable/media/images/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="datatable/media/images/favicon.ico">
    <link rel="apple-touch-startup-image" href="datatable/media/images/favicon.ico">

    <title>Bikers App</title>

 
    <link href="css/bootstrap.css" rel="stylesheet"> 
    <link href="css/starter-template.css" rel="stylesheet">
     <link href="css/search.css" rel="stylesheet"> 


  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Bikers App</a>
        </div>
        <div class="collapse navbar-collapse">
         <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="myaccount.html">My Profile</a></li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container" id="search">
      <div class="starter-template">
       <div class="form-style-5">
        <form action=assetdetails.html> 
        <fieldset>
        <legend>Welcome to Biker's App!</legend>
        <input type="submit" value="Create a Ride" />
        </fieldset>
        <fieldset>
        <br>
        <input type="submit" value="Join a Ride" />
        </fieldset>
      
        </form>
    </div>
       
       
    </div>
      


      
    
      

    </div><!-- /.container -->

   
  </body>
</html>
